*
{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
body
{
    background: #d0ebee;
}
.product-card{
    width: 500px;
    height: 400;
    background: #ecedef;
    padding: 40px;
    text-transform: uppercase;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(39, 214, 185);
    margin:100px;
}
.product-card h1{

    font-size:25px;
    margin-bottom:10px;
}


.product-pic{
    background-image: url(https://staticimg.titan.co.in/Sonata/Catalog/7131KM02_1.jpg?pView=listing);
    width: 100%;
    height: 400px;
    background-size:cover;
    background-position: center;

    
    
.product-price{

    color: ;
    font-size:30px;
    margin: 10px;

}
    .product-button{
        margin-top: 1px;
        margin-left: 90px;
        color: #7ed6df;
        text-decoration: none;
        border: 2px solid;
        padding: 8px 24px;
        border-radius: 20px;
    }
    .product-button:hover{
        background: rgb(228, 238, 85);
        font-weight: bold;
    }
    